@font-face {
  font-family: "iconfont"; /* Project id 3504511 */
  src: url('iconfont.woff2?t=1659625883494') format('woff2'),
       url('iconfont.woff?t=1659625883494') format('woff'),
       url('iconfont.ttf?t=1659625883494') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ciyun:before {
  content: "\e66f";
}

.icon-ciyun1:before {
  content: "\e672";
}

.icon-ciyuntu:before {
  content: "\e7af";
}

.icon-kaifa:before {
  content: "\e733";
}

.icon-shuzi:before {
  content: "\e641";
}

.icon-Digital-AlarmClock:before {
  content: "\e9c0";
}

.icon-tianqi:before {
  content: "\e87f";
}

.icon-shijianqi:before {
  content: "\e668";
}

.icon-xiugai:before {
  content: "\e8cf";
}

.icon-chizi:before {
  content: "\ec45";
}

.icon-bofangqi-danmuzitixiao:before {
  content: "\e6a3";
}

