@font-face {
  font-family: "iconfont"; /* Project id 3504511 */
  src: url('iconfont.woff2?t=1664358645824') format('woff2'),
       url('iconfont.woff?t=1664358645824') format('woff'),
       url('iconfont.ttf?t=1664358645824') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-erweima:before {
  content: "\e614";
}

.icon-resou:before {
  content: "\e61a";
}

.icon-xinshenger:before {
  content: "\e602";
}

.icon-redianshijian:before {
  content: "\e6ec";
}

.icon-fanyi:before {
  content: "\e6ba";
}

.icon-lazhu:before {
  content: "\e700";
}

.icon-exchange:before {
  content: "\e6c1";
}

.icon-fuzhi:before {
  content: "\e67b";
}

.icon-jintian:before {
  content: "\e654";
}

.icon-yu:before {
  content: "\e62b";
}

.icon-shachen:before {
  content: "\e60d";
}

.icon-xue1:before {
  content: "\e62c";
}

.icon-wu:before {
  content: "\e60e";
}

.icon-yin:before {
  content: "\e60a";
}

.icon-bingbao:before {
  content: "\e632";
}

.icon-lei:before {
  content: "\e6f4";
}

.icon-xue:before {
  content: "\e601";
}

.icon-qing:before {
  content: "\e600";
}

.icon-yun:before {
  content: "\eb2c";
}

.icon-ciyun:before {
  content: "\e66f";
}

.icon-ciyun1:before {
  content: "\e672";
}

.icon-ciyuntu:before {
  content: "\e7af";
}

.icon-kaifa:before {
  content: "\e733";
}

.icon-shuzi:before {
  content: "\e641";
}

.icon-Digital-AlarmClock:before {
  content: "\e9c0";
}

.icon-tianqi:before {
  content: "\e87f";
}

.icon-shijianqi:before {
  content: "\e668";
}

.icon-xiugai:before {
  content: "\e8cf";
}

.icon-chizi:before {
  content: "\ec45";
}

.icon-bofangqi-danmuzitixiao:before {
  content: "\e6a3";
}

